*
{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: border-box;
}
.navbar
{
    height:60px ;
    background-color: chocolate;
    color: white;
    display: flex;
    align-items: center;
}
.logo
{
 
    background-size: cover;
    background-image: url("voyage.png") ;
    height: 50px;
    width: 100%;
    margin-left: 8.5px;
    margin-right: 5px;
    
}

.nav-logo
{
    height: 50px;
    width: 100px;
}
.border
{
    border: 2px solid transparent;
}


/**box2**/
.nav-address
{
    margin-left: 10px;

}
.nav-second
{
    
}
/**box3**/
.nav-search
{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 620px;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(255, 255, 0, 0.386);
    border-radius: 3px;
}
.nav-search:hover
{
    border: 2px solid grey;
}
.search-select
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius:3px;
    border: none;

}
.search-input
{
    width: 500px;
    border: none;
    border-radius:3px;
}
.search-icon
{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45px;
   font-size: 1.5rem;
   color: black;
    

}
/**box4
span{
    font-size: 0.7rem;
}
.nav-second
{
    font-size: 0.85rem;
}**/
.nav-signin
{
    margin-left: 10px;
}
.about
{
    margin-left: 20px;
}
.contact
{
    margin-left: 20px;
}
/**panel**/
.panel
{
    height: 40px;
    background-color: rgba(0, 157, 255, 0.468);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p
{
    display: inline;
    margin-left: 10px;
}
.panel-ops
{
    width: 70%;
    
    
}
.panel-deals
{
    
    font-weight: 700;
}


.hero-section
{
    background-image:url("curious.png");
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message
{
    background-color: rgba(255, 235, 205, 0.858);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 90px;
}
.box
{
    height: 200px;
    border: 2px solid rgb(255, 238, 0);
    width: 33%;

}
.shop-section
{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgba(255, 235, 205, 0.858);
}